@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower");

body, html {
  height: 100vh;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

main {
  height: auto;
  background: f4f4f4;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;

}


main, header {
  font-size: 3em;
}

header {
  background: silver;
  grid-area: header;
  border-bottom: 1px solid #4b0082 ;
  font-family: 'Dancing Script', cursive;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 1em;
  color: #4b0082;
}

#rightMenu, #leftMenu {
  font-family: 'Indie Flower', cursive;
}
